@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
}

nav {
  display: flex;
  font-size: 18px;
  margin-top: -23px;
  margin-right: 10px;
  float: right;
}

nav a {
  padding-right: 15px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  opacity: 50%;
}

#head {
  font-size: 22px;
  width: 100px;
  margin-left: 20px;
  margin-top: 10px;
  text-decoration: none;
  color: black;
}

.wrap {
  margin-top: 20px;
}


#header {
  width: 100%;

  border-bottom: 1px solid black;
  margin-top: 10px;
}

.image {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100% - 100px - 10%);
  padding-top: 5%;
  padding-bottom: 5%;
}

.image h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: calc(50% - 1.4em);
  font-size: 10em;
  z-index: 999;
  color: white;
}

.image img {
  width: 100%;
  object-fit: contain;
  opacity: 0.8;
}

.quote > div{
  font-size: 400px;
  padding-left: 7%;
  height: 200;
}

.quote p{
  font-size: 3rem;
  padding-left: 7%;
  padding-top: -20px;
  width: 90%;
  word-break: break-word;
}


.image-and-text img {
  float: left;
  margin-right: 3%;
padding-left: 3%;
  width: 50%;
  padding-top: 5%;
}

.image-and-text p{
  padding-top: 12%;
  font-size: 3em;
  padding-right: 3%;
  padding-bottom: 10%;
}

.container {
  width: 100%;
}

.text1, .text2 {
  display: inline-block;
  width: 50%;
}

.text1{
  font-size: 6rem;
  padding-left: 20%;
  padding-top: 5%;
}

.text2{
  font-size: 1.5rem;
  margin-top: -10%;
  padding-left: 38%;
}

.exp p{
  width: 28.4%;
  word-break: break-all;
  padding-left: 20%;
  margin-top: -3%;
}

.p1{
  width: 28.4%;
  word-break: break-all;
  padding-left: 20%;
  padding-top: 4%;
}

.frame{
  padding-right: 17%;
  margin-top: -17%;
}

.frame img{
  width: 40%;
  height: auto;
  float: right;
  margin-top: -3.5%;
}

.p2{
  word-break: break-all;
  padding-left: 20%;
  padding-top: 17%;
  padding-bottom: -10%;
}

.all{
  border: 50px solid black;
  padding-bottom: 10%;
}