body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.images {
  width: 100%;
  height: calc(100% - 110px);
  display: flex;
  overflow-x: scroll;
  flex-direction: horizontal;
}

.images a {
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 2.5%;
}

.images img {
  /* height: 250px; */
  /* height: calc(100% - 185px); */
  
  height: 100%;
  object-fit: contain;

  /* background-color: bisque; */
}

.images img:hover {
  opacity: 50%;
}

.intro {
  font-size: 90px;
  padding-left: 15px;
  color: black;
  font-weight: bold;
  /* width: 100%; */
}

nav {
  display: flex;
  font-size: 18px;
  margin-top: -23px;
  margin-right: 10px;
  float: right;
}

nav a {
  padding-right: 15px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  opacity: 50%;
}

#head {
  font-size: 22px;
  width: 100px;
  margin-left: 20px;
  margin-top: 10px;
  text-decoration: none;
  color: black;
}

.wrap {
  margin-top: 20px;
}

.container {
  height: calc(100% - 55px);
  /* width: 100%; */
  display: flex;
  flex-direction: column;
}

#header {
  width: 100%;

  border-bottom: 1px solid black;
  margin-top: 10px;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* background-color: yellow; */
}
